@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

@import url('./App.css');
@import url('./Home.css');
@import url('./Sidebar.css');
